body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  gap: 100px;
}

#history {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  height: 300px;
  width: 300px;
  padding: 0px 16px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}